<div class="class" *ngIf="isUpdating === false">
  <div>Name:{{contact.name}}</div>
  <div>Address:{{contact.address}}</div>
  <div>Phone Number: {{contact.phoneNumber}}</div>
  <div>Email:{{contact.email}}</div>
  <div>Birthday: {{contact.birthday}}</div>
  <div>Date Met: {{contact.dateMet}}</div>
  <div>Relation: {{contact.relation}}</div>
  <div>Company:{{contact.company}}</div>
  <div>Notes: {{contact.notes}}</div>
  <div>Date Created: {{contact.date}}</div>
  <div *ngIf="wasUpdated === true">Date Edited: {{contact.date}}</div>
  <button (click)="onUpdateClick()" *ngIf="isUpdating === false">Update</button>
  <button (click)="onDelete()">Delete</button>
</div>

<div class="class" *ngIf="isUpdating === true">
  <label>Name:
    <input [(ngModel)]="contact.name">
  </label>
  <br>
  <label>Address:
    <input [(ngModel)]="contact.address">
  </label>
  <br>
  <label>Phone Number:
    <input [(ngModel)]="contact.phoneNumber">
  </label>
  <br>
  <label>Email:
    <input [(ngModel)]="contact.email">
  </label>
  <br>
  <label>Birthday:
    <input type="date" [(ngModel)]="contact.birthday">
  </label>
  <br>
  <label>Date Met:
    <input type="date"[(ngModel)]="contact.dateMet">
  </label>
  <br>
  <label>Relation:
    <input [(ngModel)]="contact.relation">
  </label>
  <br>
  <label>Company:
    <input [(ngModel)]="contact.company">
  </label>
  <br>
  <label>Notes:
    <input [(ngModel)]="contact.notes">
  </label>
  <br>
  <div>Date Edited: {{contact.date}}</div>
  <button (click)="onSaveUpdate()">Save</button>
  <button (click)="onCancel()">Cancel</button>
</div>


