<div class="class">
  <div>Name:{{contact.name}}</div>
  <div>Address:{{contact.address}}</div>
  <div>Phone Number: {{contact.phoneNumber}}</div>
  <div>Email:{{contact.email}}</div>
  <div>Birthday: {{contact.birthday}}</div>
  <div>Date Met: {{contact.dateMet}}</div>
  <div>Relation: {{contact.relation}}</div>
  <div>Company:{{contact.company}}</div>
  <div>Notes: {{contact.notes}}</div>
  <div>Date Created: {{contact.date}}</div>
  <button (click)="onUpdateClick()">Update</button>
  <button (click)="onSave()">Save</button>
  <button (click)="onDelete()">Delete</button>
</div>


