
  <input placeholder="name" [(ngModel)]="contact.name">
  <input placeholder="address" [(ngModel)]="contact.address">
  <input placeholder="phone number" [(ngModel)]="contact.phoneNumber">
  <input placeholder="email" [(ngModel)]="contact.email">
  <input placeholder="birthday" type="date" [(ngModel)]="contact.birthday">
  <input placeholder="date met" type="date" [(ngModel)]="contact.dateMet">
  <input placeholder="relation" [(ngModel)]="contact.relation">
  <input placeholder="company" [(ngModel)]="contact.company">
  <input placeholder="notes" [(ngModel)]="contact.notes">
  <button (click)="onSave()">Save</button>

