<app-login
  *ngIf="isLoggedIn === false"
  (onLogin)="onLogin($event)">
</app-login>

<div *ngIf="isLoggedIn === true">

  <app-create-contact
    *ngIf="createContact === false"
    (createClicked)="createClicked($event)"
  ></app-create-contact>

  <app-search
    (searchClicked)="searchInput($event)"
  ></app-search>

  <app-contact-input
    *ngIf="createContact === true"
    (contactToOutput)="onSave($event)"
    (backClicked)="onBack($event)"
  ></app-contact-input>


  <app-contact-list
    *ngIf="searchText === ''"
    [contactList]="contactList"
    (deleteContact)="onDelete($event)"
    [filterPicked]="filterPicked"
  ></app-contact-list>

  <app-contact-list
    *ngIf="searchText !== ''"
    [contactList]="contactList"
    (deleteContact)="onDelete($event)"
    [filterPicked]="filterPicked"
  ></app-contact-list>

  <div *ngIf="this.contactList.length === 0">
    Couldn't find name of {{searchText}} in contact list
  </div>

</div>


